.user-form {
  margin: 20px 0;
}

.user-form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.create-button {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px;
}
