.user-form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: gray;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.create-button {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 4px;
}
