.user-detail-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 1px solid #ccc;
  padding: 32px;
  text-align: center;
  color: blue;
}

.user-avatar-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.preview-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-right: 48px;
}

.user-avatar-wrapper p {
  margin-bottom: 16px;
}

.user-avatar {
  width: 152px;
  height: 152px;
  border: 1px solid #ccc;
}

.save-image-btn {
  width: 81%;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.upload-btn {
  display: block;
  width: fit-content;
  margin: 8px auto;
  padding: 8px 16px;
  background: #1477f7;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.upload-btn:hover {
  background-color: #3098ff;
}
