.login-form-container {
  margin: 30px;
}

.login-fieldset {
  padding: 15px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-title {
  text-align: center;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.guest-register-prompt {
  text-align: center;
}
